!!!
%html
  %head
    %title Homepage
    = stylesheet_link_tag    "application",
    "lavalamp",
    :media => "all"

    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #main

      %header(class="layout")
        %nav= render_navigation

      #container= yield
